@import url('../fonts/inter.css');

body{font-family:Inter,sans-serif;font-size:16px;font-weight:400!important;color:#383838}
*{font-family:Inter,sans-serif;font-weight:400}
.font-500{font-weight:500!important}
.form-control{border:1px solid #656565}
.select2-container{z-index:9999}
p{font-size:16px;color:#212121}
a{text-decoration:none}
.main-all-heading{font-size:32px;font-weight:500;color:#212121;line-height:36px;line-height: normal; text-align: center;}
@media (max-width:600px){
.main-all-heading{font-size:26px;font-weight:500;color:#212121;line-height:normal}
}
@media (max-width:768px){
.main-all-heading{text-align:center}
}


/*==========================================*/
/* header css*/
/*==========================================*/

header{background:#0073ae;min-height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.headerno-cls{
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

.headerno-cls a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width:600px){
header{background:#0073ae}
}

/*==========================================*/
/* Banner css*/
/*==========================================*/

.bg_banner{
    background: url(../images/bg_banner_img.webp) left bottom no-repeat;
}


.banner_content h1{
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 55px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 26px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}


@media(max-width:1680px){

  .banner_content h1{
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 21px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}


}


@media(max-width:1024px){

    .bg_banner{
    background: url(../images/bg_banner_img.webp)  bottom center no-repeat;
}

  .banner_content h1{
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 18px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}


}



@media(max-width:850px){


  .banner_content h1{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 15px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}


}



@media(max-width:600px){

    .bg_banner{
    background: url(../images/bg_banner_img_mob.webp)  left bottom no-repeat;
}

  .banner_content h1{
    padding-top: 20px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 28px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 16px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}

.img_banner_div{
    padding: 0;

}

.img_banner_div img{
    margin-top: -20px;
}


}



@media(max-width:400px){

    .bg_banner{
    background: url(../images/bg_banner_img_mob.webp)  left bottom no-repeat;
}

  .banner_content h1{
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0073ae; 
    margin-bottom: 0;
}

.banner_content h2{
    color: #212121;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.banner_content p{
    font-size: 16px;
    color: #212121;
    font-weight: 300;
    margin-bottom: 0;
}

.img_banner_div{
    padding: 0;

}

.img_banner_div img{
    margin-top: -20px;
}


}



/*==========================================*/
/* Form Form css*/
/*==========================================*/
.PCOS_div_new.form_section_div {
/*  padding: 20px 0;*/
margin-top: -40px;
/*  background-color: #fff;*/

  /*
  border-top: 20px solid #0c4475;
  border-bottom: 20px solid #0c4475*/
}
.PCOS_div_new .form_custom_bg_testmonilas {
background: #fff;
    padding: 20px;
    box-shadow: 0 4px 15px rgb(175 173 173 / 18%);
}
.PCOS_div_new .testmonilas_form_custom label {
  position: absolute;
  top: 35%;
  left: 28px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #757575;
  pointer-events: none;
  transition: all .15s ease-out
}

   .PCOS_div_new .mob_border_css label{
    left: 15px !important;
}

.PCOS_div_new .testmonilas_form_custom input{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.PCOS_div_new .mob_border_css input{
    border-radius: 0 6px 6px 0 !important;
    border-left: none !important;
}


.PCOS_div_new .testmonilas_form_custom select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px 0 0 6px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.PCOS_div_new .testmonilas_form_custom input:focus,
.PCOS_div_new .testmonilas_form_custom select:focus {
  border: 1px solid #1d81c4;
  outline: 0;
  background-color: #fff
}
.PCOS_div_new .testmonilas_form_custom input.has-value + label,
.PCOS_div_new .testmonilas_form_custom input:focus + label,
.PCOS_div_new .testmonilas_form_custom select.has-value + label,
.PCOS_div_new .testmonilas_form_custom select:focus + label {
  top: -1px;
  font-size: 11px;
  font-weight: 500;
  color: #1d81c4;
  background-color: #fff;
  padding: 5px 6px 0 6px
}
.PCOS_div_new .testmonilas_form_custom input:focus::-webkit-input-placeholder,
.PCOS_div_new .testmonilas_form_custom select:focus::-webkit-input-placeholder {
  color: transparent
}
.PCOS_div_new .check_box_lable input {
  width: 16px;
  height: auto;
  display: inline-flex;
  margin-left: 0
}
.PCOS_div_new .check_box_lable label {
  padding-top: 6px;
  font-size: 12px;
  color: #212121!important;
  margin-bottom: 0
}
.PCOS_div_new .form_custom_heading_testmonilas {
  margin-bottom: 0;
  font-size: 32px;
  text-align: left;
  font-weight: 400;
  color: #212121;
  line-height: normal
}
.PCOS_div_new .form_custom_heading_testmonilas span {
  font-weight: 600;
  color: #187fc3
}
.PCOS_div_new .btn_custom_testmonilas {
  width: 100%;
  margin-bottom: 0;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.6;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  background-color: #1f83c5!important;
  text-transform: uppercase;
  border-radius: 6px
}
@media(max-width:600px) {
  .PCOS_div_new.form_section_div {
    margin-top: 20px;
/*    background-color: #0c4475*/
  }
  .PCOS_div_new .form_section_div .container {
    border-radius: 20px
  }
  .PCOS_div_new .form_custom_bg_testmonilas {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 20px
  }
  .PCOS_div_new .testmonilas_form_custom label {
    position: absolute;
    top: 37%;
    left: 28px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #757575;
    pointer-events: none;
    transition: all .15s ease-out
  }


.PCOS_div_new .check_box_lable input{
    margin-right: 6px;
}

    .PCOS_div_new .check_box_lable label {
        padding-top: 0;
        font-size: 10px;
        color: #212121 !important;
        margin-bottom: 10px;
        display: flex;
        align-items: start;
    }


  .PCOS_div_new .btn_custom_testmonilas {
    font-size: 16px
  }
  .PCOS_div_new .form_custom_heading_testmonilas {
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #212121;
    line-height: normal
  }
  .PCOS_div_new .form_custom_heading_testmonilas span {
    font-weight: 600;
    color: #187fc3
  }
  .PCOS_div_new .btn_custom_testmonilas {
    font-size: 16px
  }
}

/*==========================================*/
/* Before After Images Slider css*/
/*==========================================*/
.before_after_slider{padding-top:40px}
.before_after_slider .screenshot_slider .owl-dots{display:none}
.before_after_slider .screenshot_slider .owl-item img{width:100%}
.before_after_slider .screenshot_slider .owl-next,
 .screenshot_slider .owl-prev{position:absolute;top:-5px;height:100%}
.before_after_slider .screenshot_slider .owl-prev{left:-15px; background-color: transparent !important;}
.before_after_slider .screenshot_slider .owl-next{right:-15px; background-color: transparent !important;}
@media(max-width:768px){
.before_after_slider{padding-top:30px}
}
@media(max-width:600px){
.before_after_slider{padding-top:30px}
.before_after_slider .screenshot_slider .owl-prev{left:-5px; background-color: transparent !important;}
.before_after_slider .screenshot_slider .owl-next{right:-5px; background-color: transparent !important;}
}






/*==========================================*/
/* Doctor Slider css*/
/*==========================================*/
.before_after_slider{padding-top:40px}
.before_after_slider .ourdoctor_slider .owl-dots{display:none}
.before_after_slider .ourdoctor_slider .owl-item .item{
    background-color: #f5fbff;
    padding-right: 10px;
}
.before_after_slider .ourdoctor_slider .owl-item img{width:100%;box-shadow: 0 1px 9px 0 rgb(61 152 209 / 66%)}
.before_after_slider .ourdoctor_slider .owl-next,
 .ourdoctor_slider .owl-prev{position:absolute;top:-5px;height:100%}
.before_after_slider .ourdoctor_slider .owl-prev{left:-15px; background-color: transparent !important;}
.before_after_slider .ourdoctor_slider .owl-next{right:-15px; background-color: transparent !important;}
@media(max-width:768px){
.before_after_slider{padding-top:30px}
}
@media(max-width:600px){
.before_after_slider{padding-top:30px}
.before_after_slider .ourdoctor_slider .owl-prev{left:-5px; background-color: transparent !important;}
.before_after_slider .ourdoctor_slider .owl-next{right:-5px; background-color: transparent !important;}
.before_after_slider .ourdoctor_slider .owl-item img
{
    width: 50%;
    margin: 10px auto;
}


}


.doc_infO_div .hr-line-doctor {
    border: 1px solid #3096d3;
    /* float: left; */
    width: 45px;
    position: relative;
    text-align: left;
    margin: 10px 0;
}

.doc_infO_div ul{
padding-inline-start: 0px;
}

.doc_infO_div li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.doc_infO_div li:last-child{
    margin-bottom: 5px;
}

.doc_infO_div h5{
    padding-top: 20px;
   color: #212121;
   line-height: normal;
   font-size: 21px;
   font-weight: 600;
   margin-bottom: 0;
}

.doc_infO_div img{
    width: 50px !important;
    box-shadow: none !important;
    margin-right: 10px;
}

.doc_infO_div p{
   color: #757575;
   line-height: normal;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 0;
}


@media(max-width:600px){
    .doc_infO_div .info_div_doctors_sub{
        padding: 0 15px 15px;
    }
}


/*==========================================*/
/* Why DB section css*/
/*==========================================*/
.why_db_section{
    padding-top: 40px;
}
.intr_top2{font-size:21px;font-weight:600;color:#212121}
.intr_para{font-size:16px;color:#757575;font-weight:500;line-height:19px;height:30px}
.our-doctor-heading{text-align:left;font-size:20px;color:#212121;text-transform:uppercase}
.our-doctor-para{color:#757575;font-size:14px;text-align:left}
hr.why-hr-line{border:1px solid #acd5ed;}


/*==========================================*/
/* Awards section css*/
/*==========================================*/
.award_section{padding-top:30px}
.award_section .awards_slider .owl-dots{display:none}
.award_section .awards_slider .owl-item {
    padding: 20px 0;
    background-color: #edf8ff;
}
.award_section .awards_slider .owl-item p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.award_section .awards_slider .owl-item img{width:60%; margin: 0 auto 15px;}
.award_section .awards_slider .owl-next,
.award_section .awards_slider .owl-prev{position:absolute;top:-5px;height:100%}
.award_section .awards_slider .owl-prev{left:-15px; background-color: transparent !important;}
.award_section .awards_slider .owl-next{right:-15px; background-color: transparent !important;}
@media(max-width:768px){
.award_section{padding-top:30px}
}
@media(max-width:600px){
.award_section{padding-top:30px}
.award_section .awards_slider .owl-prev{left:-5px; background-color: transparent !important;}
.award_section .awards_slider .owl-next{right:-5px; background-color: transparent !important;}
}







/*==========================================*/
/* Tab section css*/
/*==========================================*/

.tab_aligment_section{
    padding-top: 40px;
}

ul.nptabbs{
    margin:0;
     padding:0; 
    float:left;
    list-style:none;
    width:100%;
    align-items: center;
    display: flex;
    align-items: center;
    border:1px solid #efefef;
    border-radius: 6px;
 }
ul.nptabbs li{/* display: inline-flex; *//* align-items: center; *//* height:140px; */float:left;width:16.7%;cursor:pointer;padding: 28px 0;text-align:center;font-size:16px;font-weight:600;line-height:20px;border-radius:0;border-right:1px solid #efefef;background-color:rgb(255 255 255 / 29%);color:#3d98d1;position:relative;}
ul.nptabbs li:last-child{
    border-right: none;
}

ul.nptabbs li.active::before {
    content: url(../images/dot-single.webp);
    display: inline-block;
    width: 25px;
    font-size: 25px !important;
    /* margin-left: 11px; */
    position: absolute;
    left: 44%;
    bottom: 15px;
}

ul.nptabbs li img{padding-bottom:15px}
.tabb_last{border-right:1px solid #1b5d6a}
ul.nptabbs li:hover{  background: #3096d3;
    padding: 45px 0;
    /* height: 170px; */
    color: #fff;
    font-weight: 600;
    border: 1px solid #3d98d1;
    box-shadow: 0 1px 9px 0 rgb(61 152 209 / 66%);
    border-radius: 16px;}

ul.nptabbs li:hover img{filter:brightness(0) invert(1)}
ul.nptabbs li.active {
    background: #3096d3;
    padding: 45px 0;
    /* height: 170px; */
    color: #fff;
    font-weight: 600;
    border: 1px solid #3d98d1;
    box-shadow: 0 1px 9px 0 rgb(61 152 209 / 66%);
    border-radius: 16px;
}
ul.nptabbs li.active img{filter:brightness(0) invert(1)}
.tabb_container{margin-top:15px;border:1px solid #fff;border-top:none;clear:both;float:left;width:100%;background:rgb(255 255 255 / 40%);overflow:auto}
.tabb_content{padding:10px 5px 0px;display:none;overflow: hidden;}
.tabb_content h5{
    font-size: 24px;
    color: #3096d3;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: normal;
}
.tabb_content h6{
    margin-top: 15px;
    font-size: 21px;
    color: #212121;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: normal;
}

.tabb_content ul{
        padding-inline-start: 20px;
}

.tabb_content p, .tabb_content ul li{
    font-size: 16px;
    color: #757575;
    margin-bottom: 8px;
}

.tabb_content ul li::marker{
    color: #3096d3;
    font-size: 18px;
}

.tabb_drawer_heading{display:none}
@media screen and (max-width:560px){
 .tabb_content h5{
    margin-top: 10px;
 }   

.tabb_content ul{
    margin-bottom: 0;
}

ul.nptabbs{display:none}
.tabb_drawer_heading{background:rgb(255 255 255 / 80%);border-radius:6px;color:#3096d3;font-size:18px;font-weight:600;border:1px solid #d2d2d2;margin:5px 0;padding:5px 20px;display:block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.d_active{background:#3096d3;color:#fff}
.d_active img{filter:brightness(0) invert(1)}
.tabb_container{box-shadow:none;border:none;background:0 0; margin-top: 0}
.tabb_content{margin-bottom:20px;border:1px solid #fff;background:rgb(255 255 255 / 60%)}
}



/*==========================================*/
/* Faq Tab section css*/
/*==========================================*/
.faq_sction{
    padding-top: 40px;
}

.tabbed-content {
    background: #fff;
    width: 100%;
    padding: 0 1em;
    margin: 1em auto;
}

.tabs ul {
    margin: 0;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #efefef;
    border-radius: 6px;
}

.tabs ul li {
    background: #fff;
/*    border-right: 2px solid #606060;*/;
}

.tabs ul li a {
    background: transparent;
    border-bottom: 1px solid #efefef;
    padding: 10px 20px;
    margin-bottom: 7px;
    text-align: left;
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.tabs ul li a:hover, .tabs ul li a.active {
    color: #ffffff;
    font-weight: 600;
    background: #3d98d1;
    box-shadow: 0 0px 9px 0 rgb(61 152 209 / 66%);
    border-radius: 6px;
    border: none;
}

.tab-custom-heading {
    padding-left: 10px;
    color: #212121;
    font-size: 21px;
    font-weight: 600;
    border-left: 5px solid #fbb46d;
}

.tab-custom-para {
    color: #757575;
    font-size: 16px;
}

.item {
    margin-bottom: 0;
}

.item::before {
    text-align: left;
    cursor: pointer;
    /* background: #f8dbb5; */
    /* color: #212121; */
    /* color: #3096d3; */
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #d2d2d2;
    font-weight: 600;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: block;
    border-radius: 6px;
}

.item.active::before {
       color: #ffffff;
    font-weight: 600;
    background: #3d98d1;
    box-shadow: 0 0px 9px 0 rgb(61 152 209 / 66%);
    border-radius: 6px;
    border: none;
}

.item.active .item-content {
}

.tab-custom-content {
    overflow: auto;
    background: #fff;
/*    padding: 20px 7px;*/;
}


.tabbed-content .item {
    min-height: 0;
    height: auto;
    overflow: hidden;
}

@media all and (min-width: 800px) {
    .item.active .item-content {
        padding-top: 0;
    }

    .tabs-side .tabs li {
    }


}

.tabbed-content .tabs {
    display: none;
}



.tabbed-content .item::before {
    content: attr(data-title);
}

.tabbed-content .item .item-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.tabbed-content .item.active .item-content {
    opacity: 1;
    visibility: visible;
    height: auto;
    padding: 5px;
}

@media all and (min-width: 800px) {
    .tabbed-content .tabs {
        display: block;
    }

    .tabbed-content .tabs li {
        display: inline-block;
    }

    .tabbed-content .tabs li a {
        display: block;
        max-width: 250px;
        width: 100%;
    }

    .tabbed-content .item {
        min-height: 0;
    }

    .tabbed-content .item::before {
        display: none;
    }

    .tabbed-content.tabs-side .tabs {
        float: left;
        margin-right: 20px;
        max-width: 250px;
        width: 100%;
    }

    .tabbed-content.tabs-side .tabs li {
        display: block;
    }

    .tabbed-content.tabs-side .item {
        margin-left: 150px;
    }
}



/*==========================================*/
/* FAQ css*/
/*==========================================*/
.faq_sec_pad{padding-top:50px;padding-bottom:50px}
.faq-box-cls{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #b1b1b1}
.panel-title .btn-link:hover{color: #3096d3;}
.panel-title{margin-bottom:0;text-decoration:none!important}
.panel-title a{text-decoration:none!important;color:#3096d3;font-size:21px;font-weight:600;line-height:24px;padding:0}
.panel-title a.collapsed {
    text-decoration: none !important;
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
}
.panel-title a span{padding:10px;margin-right:10px;background:linear-gradient(359deg,#03619a 0,#047dc7 100%);color:#fff;border-radius:50%;font-size:18px;font-weight:600}
.panel-title a.collapsed span{color:#fff;background:#000;font-weight:500}
.panel-title a:after{content:"-";float:right;font-size:30px;font-weight:300;position:absolute;right:25px;margin:0}
.panel-title a.collapsed:after{content:"+"}
.para-faq{padding:10px 0 0 0;font-size:16px;color:#212121}
.panel-title .btn-link:focus{box-shadow:none}
@media screen and (max-width:600px){
.panel-title a{width:300px;text-decoration:none!important;color:#3096d3;font-size:18px;font-weight:600;line-height:21px;padding:0}
.panel-title a.collapsed{text-decoration:none!important;color:#212121;font-size:16px;font-weight:500;line-height:21px;padding:0}
.para-faq{padding:10px 0 0 0;font-size:16px;color:#212121}
.faq-box-cls{padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #b1b1b1}
.panel-title a:after{content:"-";float:right;font-size:25px;font-weight:300;position:absolute;right:25px;margin:0}
.faq_sec_pad{padding-top:30px;padding-bottom:30px}
}

/*=========================================================*/
/*Footer Css Start*/
/*=========================================================*/
.footer{background:#0073ae;color:#fff;font-size:13px;padding:12px 0;font-weight:500!important}
.copyright{font-weight:500}
.footerLink ul{padding:0;margin:0;list-style:none}
.footerLink ul li{display:inline}
.footerLink ul li a{display:inline-block;color:#fff;font-weight:500;padding:0 8px;position:relative}
.footerLink ul li a:hover{text-decoration:none}
.footerLink ul li a:after{content:'';display:block;height:100%;width:1px;background:#fff;position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.footerLink ul li:last-child a:after{content:none;display:none}
.social-media a{background-color:#fff;border-radius:15px;padding:2px;margin:0 5px;font-weight:500}
.call-btn{line-height:45px;border-top:4px solid #d98329;height:50px;text-decoration:none!important;color:#212121!important;background:#fdf2e6;font-weight:600;font-size:20px;position:fixed;z-index:99;bottom:0;left:0;width:100%}
@media (max-width:600px){
.footer{background:#0073ae;color:#fff;font-size:13px;padding:8px 0;font-weight:500!important;}
}
